dist: xenial

services:
  - xvfb

addons:
  firefox: latest

language:
  - node_js

node_js:
  - "10"
  - "8"
  - "6"

cache:
  directories:
    - "$HOME/.npm"
    - ".eslintcache"

if: tag IS blank # do not build tags

notifications:
  slack:
    secure: "CHS39tAvw6WiIN8cYSyE3QT2PVeFdrHszT/00kU3pb1BH5Ec5JYx5U7bMrVf3yq3GQC/wxBhXs4E119LwZM0n04CGUOshShqSkLeUf9RfWYlqx2Qw2+tT8sOi+OXCzE+yaG3Yt+TWFqKyC5t0A9jZX6cdJbcBaKX2wJiOyI/HiTpXHXrJgeeflxRe03KDpIfpmWgpMjnouZ6rKMnP30H+CG4Ya5uouM/Sv5flgJ+1VnZo/kB89hQ4CELr3bBfxSW4lCS1Tmg/z8w059D2nsn7wiMols3Qgw4FJu773K03fyLGoV4JshxA9lvnLt/Vy+azDNEBP5drQeQ7l8GMrLAPIEN8oGbuH9+TyYoxj0P38Kx4hzlW3owGs1U2+wCuYCq2b58oGTYonKnynFV4Pi8f94uBWd6ziIJoKhwx6MsJzKIt/6T91QWjWozOpF9uGy81ZfR3WHU/gnIyWDTJsLnB7nFA5z9V3/K3Orj5tlVr7iZbCUhA9v6XMYTpyyxjoMtBjVad2IztaWXZIZ97Xx7WBkGS9lvFZIqgHMYERb/On/4bEEXdPlzyJxwwlPBNvPv7enVAsYjPJJ58CQ42fuYkMYZlNcTGfYz9Nw/K64ocMidfdMKvdFD1w6Cw/U1HkQ0SZssy6yEb1BpzdBfMbsUDnh0OJffUpeGp402XOwUNT4="


before_install:
  # npm@^7.0.0 requires Node.js >= 10
  - dpkg --compare-versions `npm -v` ge 6.0 || npm i -g npm@^6.0.0

install:
  - npm ci
  - firefox -headless &

script:
  # check if the docs have been generated
  - npm run docs
  - sed -i -e 's/\[\ &#x27;/ /g' -e 's/&#x27; \]/ /g' doc/readme.md
  - test -z "$(git diff --name-only | grep '^doc/readme.md$')"

  - npm run test:unit
    # e2e tests use async/await
  - if test "$TRAVIS_NODE_VERSION" -gt 6; then npm run test:e2e; fi
  - npm run cover

after_success:
  - bash <(curl -s https://codecov.io/bash)

jobs:
  include:
    - stage: publish
      node_js: 10
      script: npx semantic-release
