language:
  - node_js

node_js:
  - 10
  - 8
  - 6

cache:
  directories:
    - $HOME/.npm
    - node_modules
    - .eslintcache

branches:
  except:
    # Don't run on tag pushes
    - /^v\d+\.\d+\.\d+$/

notifications:
  slack: smartcar:PGJmjtKFPytU5E2FwsImdVp8

install:
  - npm update --save false
  - npm prune

services:
  - docker

script:
  - docker run --name selenium-container -d --net host -v /dev/shm:/dev/shm selenium/standalone-chrome
  - npm test
  - npm run cover

jobs:
  include:
    - stage: publish
      node_js: 10
      script: echo -e "machine github.com\n  login $GH_TOKEN" >> ~/.netrc && npm run release
